<!DOCTYPE html>
<html>
<%- include('parts/head.html', {title: title}) %>

    <body>
        <header>
            <nav>
                <a href="/" style="background-color: white;">
                    Експертна система вибору засобів зв'язку</a>
                <a href="/admin">Адміністрування БД</a>
            </nav>
        </header>
        <div class="wrapper" style="justify-content: center; height: 500px;">
            <div class="block" style="background-color: white; align-items: center;">
                <div class="item">
                    <a href="/fast">Швидкий пошук</a>
                </div>
            </div>
            <div class="block" style="background-color: white; align-items: center;">
                <div class="item">
                    <a href="/search">Розширений пошук</a>
                </div>
            </div>
        </div>
    </body>

</html>
